
body{
    background: url(imagens/capa.png);
    overflow-x: hidden;
}

.cover{
    display: table;
    width: 100%;
}


.footer-text{
    text-align: center;
    position: center;
    color: aliceblue;
}

.text-cover{
    text-align: center;
    color: skyblue;
    display: table-cell;
    vertical-align: middle; 
}

.navbar {
    background-color: transparent;
    background-image: none;
}

#frist{
    background: gray;
    background-image: none;
    display: table;
    width: 100%;
}

/*---------------- Footer fixed in boot --------------------*/

footer{
    background: gray;
    padding: 50px 0px 20px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

html,body,.cover {
    height: 100%;
    overflow: auto;
}

/*---------------- Tipografia --------------------*/

h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-top: 50px;
}